figures

checkFile.ipynb
*.bak
*.db
EnMicroMsg.db-shm
EnMicroMsg.db-wal
IMEI_origin.java
IMEI_version1.java
IMEI.class
message.csv
message1.csv
process_wechat.py

systemInfo.cfg
CompatibleInfo.cfg

./Wechat-message-analysis
